// Scss Document

$logoyellow: #ED6;
$darkyellow: #ED0;
$lightyellow: #FF3;
$logoblue: #069;
$darkblue: #089;
$lightblue: #08A;
$font-stack: "Trebuchet MS", Verdana, Arial, Halvetica, sans-serif;

body {
	font-family: $font-stack;
	color: #000; 
	margin: 0;
}
